@keyframes bounce {
	100% {
		background-position: 15% 50%;
	}
}
html,body {
	height: 100%;
}
body {
	display: grid;
	place-items: center;
	margin:0;
	padding: 0 20px;
	background-image: url(stacked-steps-haikei.png);
	background-repeat: no-repeat;
	background-size: cover;
	animation: bounce 6s infinite alternate linear;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}